body {
  margin: 0;
  margin-top: -16px;
  
 
  font-family: 'Bangers', cursive;
}


a {
  color: #963d5a;

}

a:hover {
  color: #c589e8;   /* bright lavender! */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.person,.person2 {
  border: solid 5px #963d5a;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.notes {
  background-color: #963d5a;
  padding-bottom: 10px;
  margin-top: 5px;
}

.notes * {
  padding-top: 5px;
  margin-top: 5px;
}